
.ui.button a{
    text-decoration: none;
    color: rgb(245, 241, 241);
    padding: 5px 3px;
    font-size: 20px;
    font-family: Helvetica;
    background-color: #1b1c1d;
    color: #ffffff;
    display: inline;
    border-radius: 3px;
    margin: 2px;
    align-content: left;
}

.element.style a {
    text-decoration: none;
    color: #ffffff;
    
}

a:link {
    color: white;
  }
  a:hover {
    color: white;
  }





  body {
    padding: 3;
    margin: 0;
    font-family: -apple-system, Helvetica Neue,
      sans-serif;
      color: #1b1c1d;

  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover, a:active {
    color: #ffffff;
  }

  header a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1c1d;
  }


h1, h3, h2, h4 {

    margin-left: 10px;
  }

  h5 {

    font-size: 35px;
    font-style: italic;
    font-family: Arial;
    margin-left: 10px;
    padding: 15px ;
  }

  h6 {
    font-size: 15px;
    font-style: italic;
    font-family: Arial;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px ;

  }

  p {
    margin-left: 10px;
    margin-right: 50px;
    line-height: 1.8;
    font-size: 15px;
  }



        footer {
          width: 100%;
          height: 100px;
          border-top: 1px solid #eaeaea;
          display: flex;
          justify-content: center;
          align-items: bottom;
        }

        footer img {
          margin-left: 0.5rem;
        }

        footer a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #1b1c1d;
        }
